{% extends "base.html.twig" %}

{# Override do title #}
{% block title %}Exibindo um post específico {{ post.title }}{% endblock %}

{% block body %}
    <p></a></p>
    <div class="alert alert-primary" role="alert">
        <a href="{{ path('blog_index') }}">Server Info</a>
    </div>
    <ul>
        <li>Env: {{ app.environment }}</li>
        {# <li>User: {{ app.user }}</li> #}
        <li>Request: <pre>{{ app.request }}</pre></li>
        <li>Session Started: {{ app.session.isStarted() }}</li>
        <li>Debug: {{ app.debug }}</li>
    </ul>    

{% endblock %}
