{% extends "base.html.twig" %}

{# Override do title #}
{% block title %}Exibindo um post específico {{ post.title }}{% endblock %}

{% block body %}
    <p>{{ id }}</a></p>
    <h3>{{ post.title }}</h3>
    <p>{{ post.text }}</p>
    <p>Postado em: {{ post.date|date('H:i:s') }}</p>
    <a href="{{ path("blog_add") }}">Voltar para index</a>

{% endblock %}
